body {
  background-color: #222;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

#hold-container {
  background-color: #444;
  grid-area: 2 / 4 / 3 / 5;
}

#field-container {
  background-color: #444;
  grid-area: 2 / 5 / 12 / 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#field {
  background-color: black;
}

#next-container {
  background-color: #444;
  grid-area: 2 / 9 / 5 / 10;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#debug {
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
}