body {
  background-color: #222;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  width: 100vw;
  height: 50vw;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#game * {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  position: absolute;
}

#hold-container {
  background-color: #444;
  grid-area: 2 / 8 / 3 / 9;

}

#field-container {
  background-color: #444;
  grid-area: 2 / 9 / 10 / 13;
}

#field {
  background-color: black;
}

#next-container {
  background-color: #444;
  grid-area: 2 / 13 / 5 / 14;
}

#debug {
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
}